.post-main {
    padding: 50px;
}

.single-post {
    display: block;
    width: 19%;
    margin-right: 0.24%;
    float: left;
    min-height: 400px;
    background-color: rgb(28, 44, 57);
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid rgb(199,86,88);
}

.post-bg {
    height: 300px;
    width: 100%;
}

.single-post h4 {
    width: 70%;
    float: left;
    display: inline-block;
    padding: 15px 10px 10px 10px;
    box-sizing: border-box;
}

.av {
    display: inline-block;
    float: right;
    width: 20%;
}

.post-avatar {
    display: inline-block;
    float: right;
    margin: 10px 10px 0 0;
    background-color: black;
    border-radius: 80%;
    width: 40px;
    height: 40px;
    z-index: 6;
    border: 3px solid rgb(199,86,88);
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

#search-txt {
    padding-left: 4px;
    box-sizing: border-box;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(110,223,203);
    padding: 3px;
    box-sizing: border-box;
    color: rgb(110,223,203);
    width: 206px;
}

#search-btn {
    outline: none;
    color: rgb(110,223,203);
    background-color: transparent;
    height: 25px;
    text-align: center;
    line-height: 25px;
    transition: 0.2s ease;
    border: 1px solid rgb(110,223,203);
    box-sizing: border-box;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    cursor: pointer;
    width: 90px;
}

#search-btn:hover {
    background-color: rgb(110,223,203);
    color: #fff;
}

#search-box {
    display: block;
    width: 300px;
    margin: 10px auto;
}