.post-main {
    padding: 70px 50px 50px 50px;
    box-sizing: border-box;
    float: left;
}

.single-post {
    display: block;
    width: 19%;
    margin-top: 10px;
    margin-right: 0.25%;
    margin-left: 0.25%;
    float: left;
    min-height: 400px;
    background-color: rgb(28, 44, 57);
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid rgb(199,86,88);
    position: relative;
}

.post-bg {
    height: 300px;
    width: 100%;
}

.single-post h4 {
    width: 70%;
    float: left;
    display: inline-block;
    padding: 15px 10px 10px 10px;
    box-sizing: border-box;
}

.av {
    display: inline-block;
    float: right;
    width: 20%;
}

.post-avatar {
    display: inline-block;
    float: right;
    margin: 10px 10px 0 0;
    background-color: black;
    border-radius: 80%;
    width: 40px;
    height: 40px;
    border: 3px solid rgb(199,86,88);
    box-sizing: border-box;
    position: relative;
}

#search-txt {
    padding-left: 4px;
    box-sizing: border-box;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(110,223,203);
    padding: 3px;
    box-sizing: border-box;
    color: rgb(110,223,203);
    width: 206px;
}

#search-btn {
    outline: none;
    color: rgb(110,223,203);
    background-color: transparent;
    height: 25px;
    text-align: center;
    line-height: 25px;
    transition: 0.2s ease;
    border: 1px solid rgb(110,223,203);
    box-sizing: border-box;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    cursor: pointer;
    width: 90px;
}

#search-btn:hover {
    background-color: rgb(110,223,203);
    color: #fff;
}

#search {
    display: inline-block;
}

#sort {
    display: inline-block;
    margin-left: 40px;
    position: relative;
    padding: 5px 10px;
    box-sizing: border-box;
}

.sort-btn {
    outline: none;
    display: block;
    background-color: transparent;
    border: none;
    border: 1px solid rgb(110,223,203);
    box-sizing: border-box;
    color: rgb(110,223,203);
}

#sort li {
    display: block;
    list-style: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
    padding: 5px 0;
}

#sort li:hover {
    background-color: rgb(199,86,88);
}

#sort > #sort-type {
    display: none;
    position: absolute;
    top: 35px;
    background-color: rgb(28, 44, 57);
    width: 120px;
    left: -13px;
}

.triangle-sort {
    display: block;
    width: 5px;
    height: 5px;
    position: absolute;
    background-color: inherit;
    top: -2.5px;
    left: 57.5px;
    transform: rotate(45deg);
    z-index: -1;
}

#content-box {
    display: block;
    width: 800px;
    margin: 10px auto;
    position: absolute;
    top: 10px;
    left: 30%;
}

.single-post:hover > .view {
    display: block;
}

.view {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.view input[type=submit] {
    position: absolute;
    top: -5px;
    left: -5px;
    width: 104%;
    height: 104%;
    background-color: transparent;
    outline: none;
    color: #ffffff;
    font-size: 25px;
    border: none;
    cursor: pointer;
}