{% extends "layout.php" %}

{% block content %}
    {% block title %}<title>USER BANNED</title>{% endblock %}
    <main>
        <div id="heroWrapper">
            <div id="banned-content">
                <div ><img src="/magnify/web/images/ban-male-user-with-suit-and-tie.png" class="banned-user-img"></div>
                <h1 class="banned-user-text-h1">User banned</h1>
                <h4 class="banned-user-text-h4">It seems you have been banned from our servers for not following our terms of use. If you feel you have been banned unfairly please send an email to admin@magnify.co.za </h4>
                <a class="contact-us-btn" href="/magnify/web/contact-us">CONTACT US</a>
            </div>
        </div>
    </main>


{% endblock %}

