{% extends "dashboard.php" %}

{% block content %}

<main id="main-content" class="grad2">
    <h1 class="bold">dashboard</h1>
    <div class="num-posts center">
        <p class="reg">TOTAL POSTS</p>
        <p class="count reg">{{ user_posts|length }}</p>
        <a class="black reg">VIEW POSTS</a>
    </div>
</main>

{% endblock %}