<input type="hidden" name="post-id" id="post-id" value="{{ post.id }}">
<input type="hidden" name="post-like" id="post-like" value="0">
<button type="submit" class="dislike" id="post-dislike" form="dislike-form"><span class="fa fa-thumbs-o-down fa-lg" aria-hidden="true"></span></button>