{% extends 'layout.php' %}

{% block content %}    
    <div id="heroWrapper">
        <div id="heroContent">
            <img src="/magnify/web/images/logos/LogoBlack-01.png" class="heroLogo">
            <h1>Welcome.</h1>
             <img src="/magnify/web/images/down-arrow.png" class="downArrow bounce">
        </div>
    </div>
    <div id="signUp">
        <button>Sign Up</button>
        <button>Log In</button>
    </div>
{% endblock %}