<h4 class="center white">Thank you for registering</h4>

<a href="{{ webroot }}/profile-edit" class="profile-menu-register">
    <p><span class='fa fa-user fa-lg' aria-hidden='true'></span>&nbsp;&nbsp;&nbsp;PROCEED TO PROFILE</p>
</a>