{% extends "dashboard.php" %}

{% block content %}

<main id="main-content">
    <h1 class="upload-h1">Upload</h1>
    <form>
        <label class="post-title">Post Title:</label>
        <input type="text" name="post-title"><br>
        <label>Post Content:</label>
        <input type="text" name="post-content">
    </form>
</main>

{% endblock %}